# Create namespace db
apiVersion: v1
kind: Namespace
metadata:
  name: mydb

---
# Create statefulset
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
  namespace: mydb
spec:
  selector:
    matchLabels:
      app: mysql # has to match .spec.template.metadata.labels
      app.kubernetes.io/name: mysql
  serviceName: "mysql"
  replicas: 1 # by default is 1
  minReadySeconds: 10 # by default is 0
  template:
    metadata:
      labels:
        app: mysql # has to match .spec.selector.matchLabels
        app.kubernetes.io/name: mysql
    spec:
      terminationGracePeriodSeconds: 10
      volumes:
      - name: init-script
        configMap:
          name: mysql-init-script
      containers:
      - name: mysql
        image: mysql:8.0
        ports:
        - containerPort: 3306
          name: mysql-port
        volumeMounts:
        - name: mysql-data
          mountPath: /var/lib/mysql
        - name: init-script
          mountPath: /docker-entrypoint-initdb.d
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: MYSQL_ROOT_PASSWORD
        - name: MYSQL_DATABASE
          value: "test"
        - name: MYSQL_USER
          value: "prithvi"
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: MYSQL_PASSWORD

  volumeClaimTemplates:
  - metadata:
      name: mysql-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-init-script
  namespace: mydb
data:
  init.sql: |
    CREATE TABLE IF NOT EXISTS movies (
      id INT AUTO_INCREMENT PRIMARY KEY,
      movie VARCHAR(100) NOT NULL UNIQUE,
      created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );

---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: mydb
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: "tesseract@2025"
  MYSQL_PASSWORD: "prithvi@2025"
  
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: mydb
spec:
  clusterIP: None
  selector:
    app: mysql
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306
